<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comline - Package Manager Registry</title>
    <div class="header" align="center">
        <h2>Comline Project Indexer</h2>
        <h4>Package manager server registry for packages</h4>
    </div>
</head>
<body>
    <div class="packages" align="center">
        Here you can find packages for comline
    </div>
</body>
<style>
    .header {
        background-color: #e9e9e9;
    }

    .packages {

    }
</style>
</html>
